# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'JS-refactoring'
      'submenu': [
        {
          'label': 'Instrument all function with debug-print'
          'command': 'javascript-refactoring:instrumentAllFunctions'
        }
        {
          'label': 'Insert console.log with selected text'
          'command': 'javascript-refactoring:addConsoleLogNextLine'
        }
      ]
    ]
  }
]
