# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Insert Console Arguments javascript-refactoring'
      'command': 'javascript-refactoring:insertConsoleArguments'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'javascript-refactoring'
      'submenu': [
        {
          'label': 'Insert Console Arguments'
          'command': 'javascript-refactoring:insertConsoleArguments'
        }
      ]
    ]
  }
]
