// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.word-count {
  background-color: #AABACB;
  margin: 0px;
  padding: 8px;

  .message {
    color: #000;
    text-align: right;
    font-size: 170% !important;
    padding-top: 0px !important;
  }
}
